.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    // height: 65px;
    height: 8vh;
    width: 97%;
    background-color: #282828;
    padding: 20px;
    color: white;

    .footer__left {
        display: flex;
        align-items: center;
        color: white;
        max-width: 300px;
        flex: 0.3; 

        .footer__albumLogo {
            height: 60px;
            width: 60px;
            object-fit: contain;
            margin-right: 20px;
        }

        .footer__songInfo > h4 {
            margin-bottom: 5px;
        }

        .footer__songInfo > p {
            font-size: 12px;
        }
    }

    .footer__center {
        flex: 0.4; 
        padding: 0 100px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;

       .footer__icon {
        transition: 0.2s ease-in;
            &:hover {
                transform: scale(1.2) !important;
            }
       }
    }

    .footer__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        flex: 0.3;

        .MuiSlider-root {
            color: green;
        }
    }

    .footer__green {
        color: green;
    }
}