.sidebar {
    height: 90vh;
    flex: .2;
    background-color: #040404;
    color: white;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;

    .sidebar__top {
        flex: .3;
    }

    .sidebar__bottom {
        flex: .6;
        overflow-y: scroll;
    }

    .sidebar__logo {
        height: 40px;
        object-fit: contain;
        margin-right: auto;
        padding: 10px;
    }

    .sidebar__title {
        margin-left: 10px;
        padding: 5px;
        font-size: 12px;
    } 

    hr {
        border: 1px solid #282828;
        width: 90%;
        margin: 10px auto;
    }

    .playlists {
        color: green;
    }

}