.songs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    text-align: left;
    transition: .05s ease-in;
    max-width: 100%;
    min-width: 70%;


    &:hover {
        background-color: rgba(133, 113, 113, 0.3);
        border-radius: 5px;
    }

    * {
        padding: 5px 5px;
        flex: .2;
    }

    img {
        height: 4vw;
        object-fit: contain;
    }

    p {
        color: rgb(187, 184, 184);
    }

    .songs__number {
        margin-right: -200px;
        transition: .1s;

        &:hover {
            color: white;
        }
    }

    .song__title, 
    .song__artist,
    .song__album {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 925px) {
    .songs {
        text-align: center;
    }

    .songs__number {
        display: none;
    }
}