.login {
  background-color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.login img {
  width: 100%;
}

.login a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.player-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  height: 100vh;
  -webkit-box-flex: .2;
      -ms-flex: .2;
          flex: .2;
  background-color: #040404;
  color: white;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar .sidebar__logo {
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: auto;
  padding: 10px;
}

.sidebar .sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.body {
  -webkit-box-flex: .8;
      -ms-flex: .8;
          flex: .8;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b5773), to(black));
  background: linear-gradient(#5b5773, black);
  height: 100vh;
  color: white;
  padding: 30px;
}

.footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
  color: white;
}

.footer .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  max-width: 300px;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.footer .footer__left .footer__albumLogo {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}

.footer .footer__left .footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer .footer__left .footer__songInfo > p {
  font-size: 12px;
}

.footer .footer__center {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
}

.footer .footer__center .footer__icon {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.footer .footer__center .footer__icon:hover {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
}

.footer .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.footer .footer__right .MuiSlider-root {
  color: green;
}

.footer .footer__green {
  color: green;
}

.sidebarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 200ms color ease-in;
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption .sidebarOption__icon {
  padding-right: 10px;
  padding-left: 10px;
}

.sidebarOption p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
/*# sourceMappingURL=styles.css.map */